<ion-tabs>
    <ion-tab-bar>
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="aboutus">
        <ion-icon name="pie"></ion-icon>
        <ion-label>About us</ion-label>
      </ion-tab-button>
  
      <!-- Connected to ion-tab, on click will show the ion-tab with id home -->
      <ion-tab-button tab="contact">
        <ion-icon name="contact"></ion-icon>
        <ion-label>Contact</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
    <!-- <ion-tab tab="home">
      <ion-router-outlet></ion-router-outlet>
    </ion-tab>

    <ion-tab tab="aboutus">
      <ion-router-outlet></ion-router-outlet>
    </ion-tab>

    <ion-tab tab="contact">
      <ion-router-outlet></ion-router-outlet>
    </ion-tab> -->
  
  </ion-tabs>